*{
    box-sizing: border-box;
}

/* Estilo para el body*/
body{
    font-family: arial;
    margin: 0;
}
.header{
    padding: 60px;
    text-align: center;
    background: wheat;
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}

.navbar{
    display: flex;
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}
.navbar a{
    color: white;
    padding:14px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover {
    background-color: #90e9f0;
    color: black;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex: 30%;
    background-color:#f1ddda;
    padding: 20px;
}
.main{
    flex:70%;
    background-color: #f0cfca;
    padding: 20px;
}
.primero{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.footer{
    padding: 20px;
    text-align: center;
    background: #90e9f0;
    background: #FFAFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media screen and (max-width: 700px) {
    .row,
    .navbar{
        flex-direction: column;
    }
}
